.App {
  text-align: center;
  margin: 20px;
}

.Search {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Search__input {
  height: 30px;
  background-color: lightgray;
  border: none;
  outline: none;
  margin: 0 20px;
  font-size: 20px;
  padding: 0 10px;
}

.Search__button {
  width: 100px;
  height: 30px;
}

.Search__loading {
  height: 50px;
}

.Product {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Product__container {
  width: 800px;
  border-radius: 20px;
  border: 1px solid lightgrey;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.Product__container-image {
  width: 200px;
}

.Product__labels {
  width: 500px;
  margin: 10px;
  text-align: left;
}

.Product__labels-name {
  font-size: 18px;
}

.Product__labels-price {
  font-size: 14px;
  font-weight: bold;
}